*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: hsl(226, 43%, 10%);
    font-family: 'Rubik',sans-serif;
    color:#fff;
}

main{
    display: grid;
    padding:5% 10% 5% 5%;
    grid-template-columns: repeat(4,auto);
    align-items: center;
    gap:20px;
}
.user-card{
    grid-column: 1/2;
    grid-row:1/3;
    height: 100%;
    width: 75%;
    margin-left:auto;

}
.user-card,.second-card{
    background-color:  hsl(235, 46%, 20%);
    border-radius: 10px;
}

.card-body:hover{
    background-color: hsl(246, 43%, 31%);
    transition: 0.5s linear;
    cursor: pointer;
}

.header-card{
    background-color: hsl(246, 80%, 60%);
    border-radius:8px;
    padding: 20px;
}

.image{
    display: inline-block;
    margin-bottom: 43px;
}
.image img{
    width: 60px;
    height: 60px;
    border: 2px solid #fff;
    border-radius: 50%;
    overflow: hidden;
}
.subheading h5{
    font-weight: 100;
    color:rgba(255, 255, 255, 0.815);
}
.username{
    font-size: 2.1em;
    margin-top: 4px;
    margin-bottom: 50px;
}
.footer-card{
    border-radius: 0 0 8px 8px;
    padding: 20px;
}

ul{
    list-style: none;
}
ul li{
    padding: 7px 0;
    cursor: pointer;
}
ul li:nth-child(2),li:nth-child(3){
    color: rgba(255, 255, 255, 0.603);
}
ul li:hover{
    color: #fff;
    transition: 0.4s linear;
}

/* second card design below */


/* .top{
    height: 40px;
    background-color: hsl(15, 100%, 70%);
=======
*/
.card2{
    /* background-color:  hsl(15, 100%, 70%); */
    border-radius: 10px;
    z-index: 100;
}

.card-header{
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
}
.Exercise{
    background-color:hsl(145, 58%, 55%) ;
}
.Play{
    background-color: hsl(195, 74%, 62%);
}
.Social{
    background-color: hsl(264, 64%, 52%);
}
.Study{
    background-color: hsl(348, 100%, 68%);
}
.Self-care{
    background-color: hsl(43, 84%, 65%);
}
.Work{
    background-color: hsl(15, 100%, 70%);
}
/* .ping img{
    width: 62px;
    /* background-color: green; */

.img-container img{
    transform:scale(0.9);
    margin-top:-10px;
    margin-right: -5px;
}
.card-header{
    overflow:hidden;
    height:40px;
    border-radius: 10px;
}
.Exercise .img-container img{
    margin-top:-6px;
}
/*
 Exercise: no top;
 Play: -2px top;
 social: none;
 self-care: -8px top, width 74px;
 study: -6px top;
work: -8px top;
*/
.card-body{
    background-color: hsl(235, 46%, 20%);
    padding: 25px;
    border-radius: 10px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hr{
    padding: 25px 0 5px 0;
    font-size: 3.3em;
}
.title {
    font-weight: 700;
}
.title-study{
    font-size: 0.9em;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.815);
}
h1{
    font-size: 13px;
}

@media screen and (max-width:768px) {
    main{
        grid-template-columns: auto;
        gap:20px;
    }
    .user-card{
        width:100%;
    }
    .user-card,.second-card{
        height:100%;
    }
    .timeline{
        display:grid;
        grid-template-columns: repeat(3,auto);
        justify-content:space-between ;
    }
    .img-container{
        overflow: hidden;
    }
}
